
#business2 {
    text-align: center;
}
#business2 :nth-child(1) {
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
    height: 22px;
}
#business2 :nth-child(2) {
    font-size: 13px;
    font-weight: lighter;
    color: #999999;
}
#business3 :nth-child(1) {
    text-align: center;
    margin-top: 50px;
    font-size: 24px;
}
#business3 :nth-child(2) {
    font-size: small;
    color: gray;
}
#business4 p {
    font-size: small;
    color: gray;
    margin: 20px;
}
#business5 p {
    font-size: small;
    color: gray;
    margin: 20px;
}#business6 p {
    font-size: small;
    color: gray;
    margin: 20px;
}
.businessimg {
    display: block;
    margin: 20px auto; padding: 20px;
}