

#idfind1{
    width: 85%x;
    height: 50px;
    background-color: #111111;
    font-size: 14px;
    color: white;
    margin: 7px;
    padding: 15px;
    font-weight: bold;
}
#idfind2{
    font-size: 12px;
    margin-left: 15px;
}
#idfind3{
    width: 85%x;
    margin: 7px;
    height: 90px;
    background-color:#eeeeee;
    padding: 17px;
}
#idfind3 input{
    height: 20px;
}


#idfind4{
    width: 95%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 5px;
}
#idfind5{
    width: 95%;
    margin: 9px;
    height: 30px;
    background-color: #dddddd;
    margin-top: 30px;
}