/* join 1 */
#join {
    text-align: center;
}


#join :nth-child(1) {
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
    height: 22px;
}
#join :nth-child(2) {
    font-size: 12px;
    text-align: center;
    font-weight: lighter;
    color: #999999;
}
#join2 {
    border: 1px solid gray;
    margin: 0px;
    padding: 30px;
    color: gray;
    font-size: 20px;
}
#join2 p:nth-child(2){
    font-size: 14px;
}
#join3 {
    border: 1px solid #dddddd;
    padding: 100px 0;
    margin: 30px;
    width: auto; height: auto;
    background-color: #eeeeee;
    text-align: center;
}
.name {
    margin: 5px;
    width: 200px;
    height:25px;
}
#submit{
    margin-top: 5px;
}

/* join 2 */


.title{
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
    height: 22px;
}
  
#eng{
  font-size: 12px;
  text-align: center;
  font-weight: lighter;
  color: #999999;
}

.jointxt{
    width: 100%;
    margin: 0 auto;
    margin: 10px;
    margin: 50px 0;
    font-size: 12px;
}

#jointxt{
    width:100%;
    height: 200px;
    
}

#ckbox{
    margin-right: 5px;
}

#btnjoin{
    width: 100%;
    margin: 0 auto;
    border: 1px solid wheat;
}
#btnjoin a{
    width: auto;
    margin: 0 auto;
}

