/* join 1 */
#join {
    text-align: center;
}


#join :nth-child(1) {
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
    height: 22px;
}
#join :nth-child(2) {
    font-size: 12px;
    text-align: center;
    font-weight: lighter;
    color: #999999;
}
#join2 {
    border: 1px solid gray;
    margin: 30px auto;
    padding: 30px;
    color: gray;
    font-size: 20px;
    width: 100%;
    max-width: 1000px;
}
#join2 p:nth-child(2){
    font-size: 14px;
}

.form {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 100px 0;
    border: 1px solid #dddddd;
    text-align: center;
    margin-bottom: 100px;
    background-color: #eeeeee;
}
#join3{
    width: 350px;
    margin: 0 auto;
}
#join4{
    float: left;
}
#join4 input{
    width: 70%;
}
.name {
    margin: 5px;
    width: 200px;
    height:25px;
}
#submit{
    margin-top: 5px;
}

/* join 2 */

.container{
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}
.title{
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
    height: 22px;
}
  
#eng{
  font-size: 12px;
  text-align: center;
  font-weight: lighter;
  color: #999999;
}

.jointxt{
    width: 100%;
    max-width: 1000px;
    margin: 50px auto;
    font-size: 12px;
}

#jointxt{
    width:100%;
    height: 200px;
    
}

#ckbox{
    margin-right: 5px;
}

#btnjoin{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}


/* join3 */
#dropdownMenuButton{
    background-color: white;
    color: black;
    font-size: 12px;
    border-radius: 0;
    width: 60px;
    height: 30px;
}

.textform{
    width: 180px;
    border-radius: 0;
    border: 1px solid #cccccc;
    margin-right: 5px;
}


#but{
    text-align: center;
    margin: 10px;
    margin-bottom: 70px;
}

.title3{
    text-align: center;
    font-size: 13px;
    width: 150px;
    border-right: 1px solid #cccccc;
    background-color: #f3f3f3;
}
.table{
    border: 1px solid #cccccc;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    
}

.sent{
    font-size: 13px;
}
.sent img{
    margin-right: 5px;
}

#joinbox{
    background-color: #dddddd;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 100%;
    max-width: 1000px;
}


