
#pwfind1{
    width: 85%x;
    height: 50px;
    background-color: #111111;
    font-size: 14px;
    color: white;
    margin: 7px;
    padding: 15px;
    font-weight: bold;
}
#pwfind2{
    font-size: 12px;
    margin-left: 15px;
}
#pwfind3{
    width: 85%x;
    margin: 7px;
    height: 100px;
    background-color:#eeeeee;
    padding: 15px;
}
#pwfind3 input{
    height: 20px;
}

#pwfind5{
    width: 95%;
    margin: 9px;
    height: 30px;
    background-color: #dddddd;
    margin-top: 30px;
}
#pwfind5 img{
    margin-left: 10px;
}