.title{
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
    height: 22px;
  }
  
  #eng{
    font-size: 12px;
    text-align: center;
    font-weight: lighter;
    color: #999999;
  }