.title{
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
    height: 22px;
}

#eng{
    font-size: 12px;
    text-align: center;
    font-weight: lighter;
    color: #999999;
}

#sts{
    margin-top: 50px;
    text-align: center;
    font-size: 24px;
}

.sts2{
    font-size: 12px;
    color: #999999;
    margin-top: 10px;
}
.sts3{
    font-size: 14px;
    color: #999999;
    text-align: center;
}

#con{
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: #f3f3f3e3;
    padding: 30px;
}
#con3{
    float: left;

}

.card {
    margin: 10px 10px;
    background-color:#f3f3f3e3;
}
.card-img-top{
    width: 70px;
    margin: 0 auto;
    margin-top: 40px;
}
.card-title{
    text-align: center;
    font-size: 16px;
}
.card-text{
    text-align: center;
    font-size: 11px;
    color: #999999;
}

.hist2{
    color: #999999;
    font-size: 12px;
}