.title{
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
    height: 22px;
}

#eng{
    font-size: 12px;
    text-align: center;
    font-weight: lighter;
    color: #999999;
}

#sts{
    margin-top: 50px;
    text-align: center;
    font-size: 24px;
}

.sts2{
    font-size: 14px;
    color: #999999;
}
.sts3{
    font-size: 12px;
    color: #999999;
    text-align: center;
}

#con{
    width: 90%;
    height: auto;
    margin: 0 auto;
    background-color: #f3f3f3e3;
    padding: 30px;
}

.card {
    margin: 10px;
    background-color:honeydew;
}
.card-img-top{
    width: 60px;
}
.card-title{
    text-align: center;
    font-size: 16px;
}
.card-text{
    text-align: center;
    font-size: 12px;
    color: #999999;
}