.title{
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
    height: 22px;
  }
  
  #eng{
    font-size: 12px;
    text-align: center;
    font-weight: lighter;
    color: #999999;
  }

  #listtb{
    margin-top: 40px;
    font-size: 14px;
  }
  .table{
    border-top: 2px solid #444444;
  }
  .table th{
    text-align: center;
    font-weight: lighter;
  }
  .topname{
    background-color:#dddddd;
  }
  
  #srcbar{
    margin: 80px 0px;
  }
  .srh{
    height: 30px;
    border-radius: 0;
    border:1px solid #999999;
    font-size: 12px;
  }
  
  #write{
    float: right;
    margin: 10px;
    margin-right: 20px;
  }
  #src{
    height: 30px;
    border-radius: 0;
    border:1px solid #999999;
  }
  .cussrh{
    width: 30px;
    height: 30px;
    border:1px solid #999999;
    background-color: white;
  }
.title2{
    text-align: center;
    font-size: 14px;
    width: 150px;
    background-color: #eeeeee;
    border-bottom: 1px solid #dddddd;
  }

.sent{
    border-bottom: 1px solid #dddddd;
    color: #999999;
}