#custom{
    width: 800px;
    margin: 0 auto;
}

.title{
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
    height: 22px;
}

#eng{
    font-size: 12px;
    text-align: center;
    font-weight: lighter;
    color: #999999;
}

#input{
    width: 100%;
    background-color: aliceblue;
    border-top: 3px solid #777777;
    padding: 10px;
    margin-top: 40px;
}

.input-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 200px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
    font-size: 16px;
    background-color: antiquewhite;
}

.textform{

    width: 400px;
    height: 30px;
    margin: 10px 0;
    border: 1px solid #999999;
}
.textform:nth-of-type(4){
    width: 500px;
}
.textform:nth-of-type(5){
    width: 500px;
}
.textform:nth-of-type(6){
    width: 500px;
    height: 200px;
}

#but{
    text-align: center;
    margin: 10px;
}

.txtform{
    background-color: cornsilk;
}