.communitySection2 {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.communitySection2 div div:nth-child(1) {
  font-size: 30px;
  padding-bottom: 10px;
}
.communitySection2 div div:nth-child(2) {
  color: gray;
  font-size: 14px;
  padding-bottom: 30px;
}

/* 묻고답하기 */
.qna {
  width: 100%;
}
.qna table {
  width: 100%;
  /* height: 300px; */
  border-top: 2px solid black;
}
.qna tr {
  height: 50px;
  border-bottom: 1px solid rgb(236, 236, 236);
  cursor: pointer;
}
.qna td:nth-child(2) {
  text-align: left;
  padding-left: 20px;
}
.qna table tr:nth-child(1) {
  background-color: rgb(236, 236, 236);
}
.qna td {
  color: #777;
  font-size: 14px;
}
.tdtitle{
  text-decoration: none;
  color: #999999;
}
.tdtitle:hover{
  text-decoration: none;
  color: #444444;
}


/* search bar */


.search > div {
  text-align: right;
}
.search {
  padding-bottom: 50px;
}
.search input[type="text"] {
  height: 25px;
}
.search input[type="image"] {
  border: 1px solid black;
  width: 26px;
}
.search td {
  padding-left: 3px;
}
.search td:nth-child(3) {
  padding-top: 5px;
}
.search img {
  cursor: pointer;
}


.title{
  font-size: 24px;
  text-align: center;
  margin-top: 50px;
  height: 22px;
}

#eng{
  font-size: 12px;
  text-align: center;
  font-weight: lighter;
  color: #999999;
}
#listtb{
  margin-top: 40px;
  font-size: 14px;
}
.table{
  border-top: 2px solid #444444;
}
.table th{
  text-align: center;
  font-weight: lighter;
}
.topname{
  background-color:#eeeeee;
}

#srcbar{
  margin: 80px 0px;
}
.srh{
  height: 30px;
  border-radius: 0;
  border:1px solid #999999;
  font-size: 12px;
}

#write{
  float: right;
  margin: 10px;
  margin-right: 20px;
}
#src{
  height: 30px;
  border-radius: 0;
  border:1px solid #999999;
}
.cussrh{
  width: 30px;
  height: 30px;
  border:1px solid #999999;
  background-color: white;
}



/* customer 02-2 */


.title3{
  text-align: center;
  background-color: #eeeeee;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  font-size: 14px;
  width: 200px;
}

#txt{
  width: 100%;
  height: 500px;
  margin: 0 auto;
  border-radius: 0;
  border: 1px solid #999999;
}
#but{
  text-align: center;
  margin: 10px;
  margin-bottom: 70px;
}
