#custom{
    width: 800px;
    margin: 0 auto;
}

.title{
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
    height: 22px;
}

#eng{
    font-size: 12px;
    text-align: center;
    font-weight: lighter;
    color: #999999;
}

.title3{
    text-align: center;
    background-color: #eeeeee;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    font-size: 14px;
    width: 200px;
}

#dropdownMenuButton{
    background-color: white;
    color: black;
    font-size: 12px;
    border-radius: 0;
    width: 60px;
    height: 30px;
}

.textform{
    width: 300px;
    border-radius: 0;
    border: 1px solid #cccccc;
}

#but{
    text-align: center;
    margin: 10px;
    margin-bottom: 70px;
}

